{%extends 'base.html'%}
{% load static %}

{%block content%}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Agent Smith</td>
      <td>void10@null.org</td>
      <td>BFC3024646940E9</td>
    </tr>
    <tr>
      <td>Agent Smith</td>
      <td>void11@null.org</td>
      <td>6G2C5DDD268DA08</td>
    </tr>
    <tr>
      <td>Agent Smith</td>
      <td>void12@null.org</td>
      <td>13FEDF119426893</td>
    </tr>
   
    <tr id="replaceMe">
      <td colspan="3">
        <center>
          <button
            class="btn"
            hx-get="load"
            hx-target="#replaceMe"
            hx-swap="outerHTML"
          >
            Load More Agents...
            <!-- <img class="htmx-indicator" src="{% static 'img/bars.svg' %}" /> -->
            <img  src="{% static 'img/bars.svg' %}" />
          </button>
        </center>
      </td>
    </tr>
  </tbody>
</table>
{%endblock%}